/**
 * ColorRow
 */

.container
	display flex
	height 4em

	> button
		text-align left
		flex 1

		span
			padding-left 1em

	> div
		display flex
		flex 1

.button-open_color
	position relative
	margin 0 // Necessary for Safari

	&:hover:before
		border-top 1px solid var(--color_03)
		border-bottom 1px solid var(--color_03)
		border-left 1px solid var(--color_03)
		border-right 1px solid var(--color_03)

	&:before
		content ""
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		z-index 1
