/*
 * ViewSettings
 */

#icp-view-settings

	> div
		padding 2em 1.2em

		+ div
			border-top 1px solid var(--color_01)

	.components-base-control__label
		font-weight 500
		margin-bottom 1em
		color var(--color_1)

	p
		font-style normal
		margin-top 15px
		margin-bottom 0
		color var(--color_07)

	.icp-control-radio input + label
		color var(--color_07)
