/**
 * App - Colors
 */

+prefix-classes('icp-')

	#icp-container
	.menu
		background-color var(--background_color)

	.color_type-light
	.color_type-dark
		color var(--color_09)
		fill var(--color_08)

	.color_type-light
		--primary_color #FFA07A
		--color_005 rgba(0,0,0,0.05)
		--color_005 rgba(0,0,0,0.07)
		--color_01 rgba(0,0,0,0.1)
		--color_02 rgba(0,0,0,0.2)
		--color_03 rgba(0,0,0,0.3)
		--color_06 rgba(0,0,0,0.6)
		--color_07 rgba(0,0,0,0.7)
		--color_08 rgba(0,0,0,0.8)
		--color_09 rgba(0,0,0,0.9)
		--color_1 rgba(0,0,0,1)
		--color_inv_03 rgba(255,255,255,0.3)
		--color_inv_09 rgba(255,255,255,0.9)
		--color_inv_1 rgba(255,255,255,1)
		--background_color #fff

	.color_type-dark
		--primary_color #7d645a
		--color_005 rgba(255,255,255,0.05)
		--color_005 rgba(255,255,255,0.07)
		--color_01 rgba(255,255,255,0.1)
		--color_02 rgba(255,255,255,0.2)
		--color_03 rgba(255,255,255,0.3)
		--color_06 rgba(255,255,255,0.6)
		--color_07 rgba(255,255,255,0.7)
		--color_08 rgba(255,255,255,0.8)
		--color_09 rgba(255,255,255,0.9)
		--color_1 rgba(255,255,255,1)
		--color_inv_03 rgba(0,0,0,0.3)
		--color_inv_09 rgba(0,0,0,0.9)
		--color_inv_1 rgba(0,0,0,1)
		--background_color #23282c
