/**
 * App
 */

.container
	display flex
	flex-direction column
	--ease_standard cubic-bezier(0.4, 0.0, 0.2, 1)
	--ease_deceleration cubic-bezier(0.0, 0.0, 0.2, 1)

	button

		&
		&:focus
		&:hover
			background none
			box-shadow none
			outline none
			border none
			font-size inherit
