/**
 * App
 */

+prefix-classes('icp-')

	#icp-container
		display flex
		flex-direction column

	.button
	.button-icon
		cursor pointer
		padding 0

		&
		&:focus
		&:hover
			background none
			box-shadow none
			outline none
			border none

	.button-icon
		padding 0
		display flex
		align-items center
		cursor pointer
