/**
 * Controls
 */

.container

	> div
		padding 2em 1.2em

		+ div
			border-top 1px solid rgba(0,0,0,.1)

	:global(.components-base-control__label)
		font-weight 500
		margin-bottom 1em
		color rgba(0,0,0,1)

	&& p
		font-style normal
		margin-top 15px
		margin-bottom 0
		color rgba(0,0,0,.7)
