/*
 * Colors Header
 */

#icp-colors-header
	border-top 1px solid rgba(0,0,0,0.05)
	height 2em
	display flex
	align-items center

	.icp-control-select
	h5
		flex 1

	select
	h5
		margin 0
		font-size .97em
		font-weight 500
		color rgba(0,0,0,0.6)
		padding 0
		line-height 2em
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	h5 span
		padding-left .5em

	.icp-control-select
		border-left 1px solid rgba(0,0,0,0.05)

	.components-base-control__field
		margin 0

	select
		outline none
		border none
		box-shadow none
		border-radius 0
		padding-left .5em
		// https://stackoverflow.com/a/38764639 | CC BY-SA 3.0
		background url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+") no-repeat 95% 50%
		appearance none
