/*
 * Colors Header
 */

#icp-colors-header
	border-top 1px solid rgba(0,0,0,0.05)
	height 2em
	display flex
	align-items center

	.icp-control-select
	h5
		flex 1

	select
	h5
		margin 0
		font-size .97em
		font-weight 500
		color rgba(0,0,0,0.6)
		padding 0
		line-height 2em
		white-space nowrap
		text-overflow ellipsis
		overflow hidden

	h5 span
		padding-left .5em

	.icp-control-select
		border-left 1px solid rgba(0,0,0,0.05)

	.components-base-control__field
		margin 0

	select
		outline: none;
		border: none;
		background: none;
		box-shadow: none;
		border-radius: 0;
