/*
 * Logo
 */

#editor .components-icon-button:hover .icp-logo

	.icp-row-1
	.icp-row-2
		fill #ffa076!important// Necessary
	.icp-row-3
	.icp-row-4
		fill #b8c9d0!important// Necessary
	.icp-row-5
	.icp-row-6
		fill #7d7876!important// Necessary

#editor .components-icon-button.is-toggled:hover .icp-logo rect
	fill #fff!important// Necessary

+prefix-classes('icp-')

	.logo

		#editor &

			&:hover
				.row-1
				.row-3
				.row-5
					fill-opacity 1
				.row-2
				.row-4
				.row-6
					fill-opacity .3

			.row-1
			.row-2
				fill #ffa076
			.row-3
			.row-4
				fill #b8c9d0
			.row-5
			.row-6
				fill #7d7876

		.column-1

			&.row-2
			&.row-4
			&.row-6
				fill-opacity .7

		.column-2

			&.row-2
			&.row-4
			&.row-6
				fill-opacity .4

			&.row-1
			&.row-3
			&.row-5
				fill-opacity .7

		.column-3

			&.row-2
			&.row-4
			&.row-6
				fill-opacity .1

			&.row-1
			&.row-3
			&.row-5
				fill-opacity .4

		rect
			transition fill-opacity .2s $e_standard
