/*
 * Logo
 */

$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

#icp-pinned-logo
	width 20px
	height 20px
	padding 2px

.is-toggled
	#icp-pinned-logo
		&:before
			content ""
			background-color #23282b
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			z-index -1

.icp-logo-opacity-10
	fill-opacity .1
.icp-logo-opacity-40
	fill-opacity .4
.icp-logo-opacity-70
	fill-opacity .7

#editor
	.icp-logo-color-1
		fill #ffa076
	.icp-logo-color-2
		fill #b8c9d0
	.icp-logo-color-3
		fill #7d7876

	.components-icon-button:hover
		.icp-logo-color-1
			fill #ffa076!important
		.icp-logo-color-2
			fill #b8c9d0!important
		.icp-logo-color-3
			fill #7d7876!important

.icp-logo-color
	transition fill-opacity .2s .1s $e_deceleration

.icp-logo-container
	width 16px
	height 16px

	&:hover
		.icp-logo-row-1
			fill-opacity 1
		.icp-logo-row-2
			fill-opacity .3
