/*
 * Toggle Panel Buttons
 */

$e_deceleration = cubic-bezier(0.0, 0.0, 0.2, 1)

#icp-toggle-panel
	display flex
	height 50px
	border-bottom 1px solid rgba(0,0,0,0.05)

	button.toggle-panel
		padding 3px 15px
		height 100%
		box-shadow none
		width 50%
		background transparent
		transition background-color .15s $e_deceleration
		display flex
		align-items center
		justify-content center

		&.is-active
			margin-bottom -1px
			height calc(100% + 1px)
			font-weight 600
			padding-bottom 0
			border-bottom 3px solid #333

		&:hover
			background-color rgba(0,0,0,0.03)
