/*
 * Settings
 */

#icp-plugin-info-logo
    margin-top 2px
    margin-right 10px

#icp-plugin-info
	display flex
	padding 3em 1.2em
	z-index 1
	border-bottom none

#icp-plugin-info-name
	color inherit
	margin 0 0 10px 0

#icp-panel-settings
	color rgba(0,0,0,.85)

	.icp-panel
		padding 0

		> div
			position relative
			padding 2em 1.2em

			+ div
				border-top 1px solid rgba(0,0,0,0.1)

		h2
			margin 0

	.icp-instructions-container

		ol
			margin-top 0
			margin-bottom 0
			margin-left 1.5em

		li
			color rgba(0,0,0,0.75)

	.components-base-control__label
		font-weight 600
		margin-bottom 1.5em

	.components-radio-control__option
		opacity .8

	.icp-control
		p
			font-style normal
			margin-top 15px
			opacity .7
