/*
 * View Settings
 */

#icp-settings

	> div
		padding 2em 1.2em

		+ div
			border-top 1px solid var(--color_01)

	.components-base-control__label
		font-weight 500
		margin-bottom 1em
		color var(--color_1)

	p
		font-style normal
		margin-top 15px
		margin-bottom 0
		color var(--color_07)

	.icp-control-radio input + label
		color var(--color_07)

#icp-info-logo
	margin-top 2px
	margin-right 10px

#icp-info
	display flex
	z-index 1

#icp-info-name
	color inherit
	margin 0 0 10px 0

#icp-info-description
	color var(--color_07)
