/*
 * MediaImage
 */

#icp-media-container
	display flex
	justify-content center
	cursor pointer
	position relative

#icp-image-container
	width 100%
	height 186px
	padding 15px
	position relative

#icp-image
	object-fit contain
	width 100%
	height 100%
	display block

#icp-button-open_media
	position absolute
	top 8px
	right 8px
	padding 7px
	border-radius 50%
	border none
	box-shadow none

	svg
		z-index 1

	&:before
		content ""
		position absolute
		top 0
		right 0
		left 0
		bottom 0
		background-color var(--color_inv_09)
		box-shadow 0 1px 1px 1px var(--color_01)
		border-radius 50%
		opacity .9
		transition transform .4s $e_deceleration, opacity .4s $e_deceleration

	&:hover
		&:before
			transform scale(1.05)
			opacity 1
