/**
 * ColorsHeader
 */

.container
	border-top 1px solid rgba(0,0,0,.05)
	height 2em
	display flex
	align-items center

.select.select
	border-radius 0
	overflow hidden
	padding 0

	&
	&:hover
	&:focus
		outline none
		border none
		box-shadow none
		background-color transparent
		color rgba(0,0,0,.6)

.select.select
.title
	flex 1
	max-height 2em
	font-size .97em
	font-weight 500
	color rgba(0,0,0,.6)
	margin 0
	padding 0
	padding-left .5em
	line-height 2em
	white-space nowrap
	text-overflow ellipsis
